*{
    margin: 0.5rem;
}
header{
    display: flex;
    justify-content: space-between;
    margin-left: 90px;
}
ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: x-large;
    
   
}
nav{
    width:60vw;
    margin-top: 0rem;
    
    
}
li:hover{
    cursor: pointer;
    color: red;
}
    
}
.bigimage{
    size: 90px;
}
.random{
    display: flex;
    text-align: center;
    margin-top: 7mm;
   
}
p{
    font-size: 25px;
}
h3{
    font-size: 30px;
}
footer{
    color:white;
    background-color: black;
    text-align: center;
    font-size: x-large;
    height: 4rem;
}
footer>p{
    padding: 1rem;
    
}